* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header {
    height: 5rem;
    background-color: #021526;
    color: white;
}

header h1 {
    text-transform: uppercase;

}

.nav-header {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-header li {
    list-style: none;
}

.nav-header li a {
    color: rgb(255, 221, 0);
}

.nav-header li a:hover {
    color: rgb(255, 253, 193);
}

#menubar {
    display: none;
}

.owner h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owner h1 span {
    color: rgb(11, 0, 95);
}

.owner div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.owner div p {
    /* font-size: 1.5rem; */
    background-color: rgb(116, 160, 255);
}

.home-contain {
    width: 70%;
}

.donate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.donate p {
    width: 50%;
    text-align: justify;
}

/* home menu  */


#home {
    height: 500px;
}

.contain {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contain h6 {
    color: rgb(255, 221, 0);

}

.demon ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

footer {
    background-color: #021526;
    display: flex;
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
footer a {
    color: rgb(211, 211, 211);

}
.about div{
    width: 80%;
}
@media (max-width:800px) {
    #menubar {
        display: block;
        font-size: 1.7rem;
        color: white;
        border-radius: 5px;
        padding: 5px;
        border: 5px solid rgb(150, 150, 150);
        background-color: rgba(255, 255, 255, 0.214);
    }

    nav {
        position: absolute;
        height: 60%;
        width: 100%;
        z-index: 999;
        top: 5rem;
        left: -100%;
        background-color: blueviolet;
        transition: 0.5s ease-in;

    }

    .left {
        transition: 0.5s ease-in;

        left: 0;
    }

    .nav-header {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        border: 1px solid black;
        width: 100%;
        font-size: 1.2rem;
    }

    #home {
        height: 600px;
    }
}

@media (max-width:326px) {
    #home{
        height: 100%;
    }
}